body {
    background-image: url('background.jpg');
    /*margin-top: 0px;*/
    /*margin-left: 23%;*/
    /*width: 960px;*/
    height: auto;
    /*border: 2px solid white;*/
}

.main-content {
  margin: 0 auto;
  border: 0px solid black;
}
  .header {
    background-image: url("header-img.jpg");
    height: 151px;
    /*border: 2px solid black;*/
}

.header h1 {
  color: white;
  padding: 15px;
}



.srodek {
    height: auto;
}

.menu {
    background-color: #442A37;
    display: table-cell;
    width: 200px;
    border: 4px solid #191126;
}
.naglowek_menu {
    font-family: Montserrat;
    font-size: 30px;
    float: none;
    /*margin-left: 50px;*/
}
.element_menu {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 20px;
}
.podelement_menu {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 15px;
}


@-webkit-keyframes moon {
    0% {
        -webkit-transform: scale(1.0) rotate(0deg)
    }
    50% {
        -webkit-transform: scale(1.5) rotate(20deg)
    }
    100% {
        -webkit-transform: scale(2) rotate(-20deg)
    }
}
.svg_moon {
    margin-top: 40px;
    margin-left: 35%;
    -webkit-animation: moon ease-in-out 4s infinite alternate;
}
.tresc {
    background-color: #033649;
    border: 4px solid #191126;
    width: auto;
    /*margin-left: 207px;*/
    display: table-cell;
}
@-webkit-keyframes zacmienie {
    0% {
        background-image: url("eclipse_1.png");
    }
    12.5% {
        background-image: url("eclipse_2.png");
    }
    25% {
        background-image: url("eclipse_3.png");
    }
    37.5% {
        background-image: url("eclipse_4.png");
    }
    50% {
        background-image: url("eclipse_5.png");
    }
    62.5% {
        background-image: url("eclipse_6.png");
    }
    75% {
        background-image: url("eclipse_7.png");
    }
    87.5% {
        background-image: url("eclipse_8.png");
    }
    100% {
        background-image: url("eclipse_1.png");
    }
}
#eclipse {
    background: black;
    width: 158px;
    height: 122px;
    margin-left: 37%;
    -webkit-animation-name: zacmienie;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
}
.zacmienie {
    font-family: sans-serif;
    border: 1px solid gray;
    margin-left: 4%;
}
th {
    font-family: sans-serif;
    font-size: 30px;
    border: 2px solid black;
    font-weight: bold;
}
td {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    border: 2px solid black;
    text-align: center;
}
.naglowek_tekstu {
    font-family: Montserrat;
    font-size: 40px;
    float: none;
    margin-left: 50px;
}
.tekst {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 20px;
    text-align: justify;
    color: black;
    margin-right: 15px;
    margin-left: 15px;
}
.powrot {
    font-family: 'Times New Roman';
    font-size: 14px;
    color: azure;
}
.galeria_obrazek {
    padding: 20px;
    width: 204px;
    height: 160px;
}
.formularz {
    margin-left: 200px;
    margin-right: 40px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: lighter;
    text-align: justify;
}
.stopka {
    background-color: #036564;
    /*width: 960px;*/
    /*height: 100px;*/
    border: 4px solid #191126;
}
.autorstwo {
    font-family: 'Times New Roman';
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
}
.zrodla {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: center;
}

#mobile-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}
